<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper  namespace="com.accp.mapper.StutdentMapper">
    <resultMap id="studentMap" type="student">
        <id column="s_id" property="lid"/>
        <result column="s_name" property="lname"/>
        <result column="s_password" property="lpassword"/>
        <collection property="cjs" ofType="cj" resultMap="com.accp.mapper.CjMapper.cjMap">

        </collection>
    </resultMap>
    <select id="select" resultType="int">

    </select>
</mapper>